@{
    ViewData["Title"] = "Order Completed";
}

<h2>Order completed</h2>

<p>
    Thank you for your order.
    Your request has been successfully registered.
</p>

<a asp-controller="Products" asp-action="Index" class="btn btn-primary">
    Continue shopping
</a>
